@import "/styles/variables.css";

.button-primary {
  padding: 1rem 6rem;
  background-color: var(--background-light);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
}

.button-primary:hover {
  background-color: var(--primary-color);
  color: var(--background-light);
  transition: 2ms;
}
